<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/reset.css">
    <link rel="stylesheet" href="./static/leyout.css">
    <link rel="stylesheet" href="./static/homestayle.css">
    <title>Home</title>
</head>

<body class="home-background">
    <header class="navBackgound">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav>
                        <ul class="navbar">
                            <li class="logo-knFord">
                                <a href="">Kn.Ford</a>
                            </li>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="overlay">

                            <span class="subhedding">Hi There!</span>
                            <h2 class="iamKeannu">I am Keannu Ford <br>
                                I Love Web Design._
                            </h2>
                            <!-- <span class="ILoveDevoloper">I Love Devoloper
                            </span> -->
                            <div class="farfar">
                                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                                there live the blind texts.
                            </div>
                            <div class="buttonFlex">
                                <div class="arrowBox">

                                    <a  href="#">HIRE MI
                                        
                                            <i class="fa-solid fa-arrow-right"></i>
                                        
                                    </a>
                                </div>
    
                                <div class="portfolio">
    
                                    <a href="#">VIEW PORTFOLIO
                                        
                                            <i class="fa-solid fa-arrow-right"></i>
                                    
                                    </a>
                                </div>
                            </div>
                            <ul>
                                <li class="social-media">
                                    <a href="#">
                                        FACEBOOK
                                        <span class="plus"><i class="fa-solid fa-plus"></i></span>
                                    </a>
                                    <a href="#">
                                        TWITTER
                                        <span class="plus"><i class="fa-solid fa-plus"></i></span>
                                    </a><a href="#">
                                        LINKEDIN
                                        <span class="plus"><i class="fa-solid fa-plus"></i></span>
                                    </a>
                                </li>
                            </ul>
                            <p class="social-media">
                                
                            </p>
                            
                        </div>
                    </div>
                    <div class="col-6"></div>
                </div>
            </div>
        </section>
    </main>

</body>

</html>