<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Home</title>
</head>

<body>


    <header>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="mailHdr">
                        <a href="#">mail@example.com</a>
                        <span>1-888-777-1234</span>
                    </div>
                    <div class="socialMediaHdr">
                        <a href="callback">
                            callback
                        </a>
                    </div>


                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="HomeNavOne">
                        <div class="nav">
                            <ul>
                                <li><a href="">Home</a></li>
                                <li><a href="">About Us</a></li>
                                <li><a href="">Services</a></li>
                                <li><a href="">News</a></li>
                                <li><a href="">Gallery</a></li>
                                <li><a href="">Contact Us</a></li>
                                <li><a href="">Login</a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="HomeNavTwo">
                        <span>
                            <a href="">Search</a>
                        </span>
                        <span>
                            En
                        </span>

                    </div>

                </div>
            </div>
        </div>

    </header>

<main>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="homeMain">
                        <h3>IT Solution for Your Business</h3>
                        <p>The template you will be able to create a site for your business. The template has many different blocks from which you can create your own unique site.</p>
                    </div>
                    <div class="homeButtons">
                        <button class="uiElement">UI elements </button>
                        <button>Get in Touch</button>
    
                    </div>
                </div>
                <div class="col-6"></div>
                <div class="row">
                    <div class="col-12">
                        <div class="nextPageBox">
                            <div class="nextBox1"></div>
                            <div class="nextBox2"></div>
                            <div class="nextBox3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="ourServices">
                        <span>AREAS WHAT WE SERV</span>
                        <h3>Our Services</h3>
                        <div class="corparateSolutions"><div class="iconBox1"></div>
                                    <h3>corparate Solutions</h3>
                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random
                                        text. It has roots in a piece of classical Latin literature
                                        from 45 BC, making it.</p>
                    </div>
                        <div class="callCenterSolutions"><div class="iconBox2"></div>
                        <h3>Call Center Solutions</h3>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random
                            text. It has roots in a piece of classical Latin literature
                            from 45 BC, making it over 2000 years lo old.</p>
                    </div>
                        <div class="cloudDevelopment"><div class="iconBox3"></div>
                        <h3>Cloud Development</h3>
                        <p>There are many variations of passages of Lorem Ipsum available,
                            but the majority have suffered alteration in some form,
                            by injected humour, or randomised words.</p>
                    </div>
                    <div class="SeeAllServices">
                        <button>See All Services</button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <span>SOME REASONS</span>
                    <h3>Why Choose Us</h3>
                </div>
                <div class="row">
                    <div class="col4"></div>
                    <div class="col4"></div>
                    <div class="col4"></div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>

</html>