<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/leyout.css">
    <link rel="stylesheet" href="../template/static/reset.css">
    <link rel="stylesheet" href="./static/about.css">
    <title>Document</title>
</head>

<body>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <figure class="aboutFoto">
                        <img src="./static/image/about.jpg.webp" alt="boy">
                    </figure>
                </div>
                <div class="col-6">
                    <article>
                        <ul class="miniNav">
                            <li class="aboutMe">
                                <a href="#">ABOUT ME</a>

                            </li>
                            <li class="skills">

                                <a href="#">SKILLS</a>
                            </li>
                            <li experience>

                                <a href="#">EXPERIENCE</a>
                            </li>
                        </ul>

                        <h2>My Story</h2>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                            there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the
                            Semantics, a large language ocean.</p>
                        <h3>
                            I Do Web Design & Developement since I was 18 Years Old
                        </h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                            there live the blind texts.
                        </p>

                    </article>
                </div>
            </div>
        </div>
    </section>
</body>

</html>