<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="././static/homestayle.css">
    <title>Document</title>
</head>
<body>
    <header>
        <section>
            <div class="contaner">
                <div class="row">
                    <div class="col-12">
                        <div class="logo">
                            <span>
                                Joblab
                            </span>
                        </div>
                        <nav>
                            <ul>
                                <li><a href="">Home</a></li>
                                <li><a href="">About</a></li>
                                <li><a href="">Job</a></li>
                                <li><a href="">Blog</a></li>
                                <li><a href="">Contact</a></li>
                            </ul>
                        </nav>
                        <div class="JoinNow">
                            <button>Join Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>
</body>
</html>