.userregistr{
    border: solid 1px gray;
}
.registeruser{
    display: block;
}
.userregistr1{
    width: 100vw;
    height: 100vh;
    text-align: center;
}
.userregistr2{
    width: 100vw;
    height: 100vh;
    text-align: center;
}